<h1><%= human_action_name(:folders, :list) %></h1>

<% unless flash[:notice].blank? %>
<p id="notice"><%= flash[:notice] %></p>
<% end %>
<% unless flash[:warning].blank? %>
<p id="notice"><%= flash[:warning] %></p>
<% end %>
<table id="folders">
  <tr>
    <th class="name"><%= Folder.human_attribute_name(:name) %></th>
    <th class="title"><%= Folder.human_attribute_name(:title) %></th>
    <th class="actions list"><%= Article.model_name.human %></th>
    <th class="actions" colspan="2"></th>
  </tr>

<% @folders.each do |folder| %>
  <tr>
    <td class="name">
    <%= link_to(folder.name,
        articles_path({:folder => folder}))
    %>
    </td>
    <td class="title">
    <%= folder.title %>
    </td>
    <td class="actions list">
    <%= link_to human_action_name(nil, :list), 
    articles_path({:folder => folder, :action => :list}) %>
    </td>
    <td class="actions edit">
    <%= link_to human_action_name(nil, :edit), 
    edit_folder_path(folder,  url_options_from_params) %>
    </td>
    <td class="actions destroy">
    <%= link_to human_action_name(nil, :destroy), 
    folder_path(folder,url_options_from_params), 
    :confirm =>  message(:folders, :destroy_confirmation), 
    :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @folders, :previous_label => '<=', :next_label => '=>'%>

<div class="actions">
<%= link_to human_action_name(:folders, :new), new_folder_path(:site => @site.name) %>
</div>