<table id="articles">
  <tr>
    <th class="title"><%= Article.human_attribute_name(:title) %></th>
    <th class="updated_by"><%= Article.human_attribute_name(:updated_by_id) %></th>
    <th class="updated_at"><%= Article.human_attribute_name(:updated_at) %></th>
    <th class="created_at"><%= Article.human_attribute_name(:created_at) %></th>
    <% if @folder.ordered_by_specification? %>
    <th class="actions" colspan="3"></th>
    <% else %>
    <th class="actions" colspan="2"></th>
    <% end %>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td class="title"><%= article.title %></td>
    <td class="updated_by">
      <%= 
        if article.updated_by
          article.updated_by.login
        else
          ''
        end
      %>
    </td>
    <td class="updated_at">
      <%= I18n.l article.updated_at, :format => :short %>
    </td>
    <td class="created_at">
      <%= I18n.l article.created_at, :format => :short %>
    </td>
    <td class="actions edit">
      <%= link_to human_action_name(nil, :edit), 
    edit_article_path(article,  url_options_from_params) %>
    </td>
    <td class="actions destroy">
      <%= link_to human_action_name(nil, :destroy), 
    article_path(article,url_options_from_params), 
    :confirm =>  message(:articles, :destroy_confirmation), 
    :method => :delete %></td>
    <% if @folder.ordered_by_specification? %>
    <td class="actions change_order">
      <% url = articles_path(:action => :move_ahead, :site => @site.name, 
      :folder => @folder.name, :id => article.id ) %>
      <%= button_to_function mark(:above) ,
        "$('#articles').ajaxReplace({url: '#{url}', type: 'PUT', dataType: 'html'});return true;" %>
        <% url = articles_path(:action => :move_behind, :site => @site.name, 
        :folder => @folder.name, :id => article.id  ) %>
      <%= button_to_function mark(:below) ,
      "$('#articles').ajaxReplace({url: '#{url}', type: 'PUT', dataType: 'html'});return true;" %>
    </td>
    <% end %>
  </tr>
<% end %>
</table>
