<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
function selectImages() {
  window.open('<%= url_for(:controller => :images, :action => :selection_list) %>', 
  '_blank', 'width=' + (window.outerWidth > 400 ? window.outerWidth - 200 : 200) + 
          ', height=' + (window.outerHeight > 300 ?   window.outerHeight - 100 : 200) + 
          ', menubar=no, toolbar=no, scrollbars=yes');
}
// insert the image to the editing html
// == parameters
// * images - hash - key => url, title, alternative
// * align - alignment of the image (left | rigjt | center | none )
function insertImages(images, align) {
  var editor = CKEDITOR.instances.article_content;
  var alignStyle = align == "none" ? "" : "text-align: " + align + ";";
  $.each(images, function(i) {
    var p;
    var a = '';
    var img;
    if(this['thumb'] != '') {
      p = '<p style="' + alignStyle + '">';
      p += '</p>';
      img = '<img src="' + this['thumb'] +  '" ' + 
      'alt="' +  (this['alternative'] != "" ? this['alternative'] : this['title'])   +  '" ' +
      '/>';
      a = '<a href="' + this['url'] +  '" ' + 
      'title="' + this['title'] + '" ' +
      'class="lightbox" '  +
      '/>';
    }
    else {
      p = '<p style="' + alignStyle + '">';
      p += '</p>';
      img = '<img src="' + this['url'] +  '" ' + 
      'alt="' +  (this['alternative'] != "" ? this['alternative'] : this['title'])   +  '" ' +
      'title="' + this['title'] + '"' +
      '/>';
    }
    var pElement = CKEDITOR.dom.element.createFromHtml(p);
    var imgElement = CKEDITOR.dom.element.createFromHtml(img);
    editor.insertElement(pElement);
    if(a != '') {
      var aElement = CKEDITOR.dom.element.createFromHtml(a);
      pElement.append(aElement );
      aElement.append(imgElement );
    }
    else {
      pElement.append(imgElement);
    }
  }
  );

}


$(function()
{
	// CLEditor Setting
	/*
	$("#content textarea").cleditor({
	    width:"650px", 
	    height:"400px",
	    controls:     // controls to add to the toolbar
            "bold italic underline strikethrough subscript superscript | font size " +
            "style | color highlight removeformat | bullets numbering | outdent " +
            "indent | alignleft center alignright justify | undo redo | " +
            "rule image link unlink |  pastetext | print source",
	});
	*/
});
CKEDITOR.config.height =  "25em";

</script>

<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= activerecord_error_message(:record_invalid, 
        :errors => @article.errors.count) %>
      </h2>
      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset id="article_fields">
    <legend><%= Article.model_name.human %></legend>
    <div class="field" id="title">
      <%= f.label :title %><br />
      <span class="note"><%= note_about_attribute(:article, :title )%></span><br />
      <%= f.text_field :title %>
    </div>
    <div class="field" id="content">
      <div class="actions">
        <span><%= human_action_name(nil, :insert) %></span>
        <%= button_to_function Image.model_name.human, "selectImages();" %>
      </div>
      <%= f.text_area :content, :cols=>'40', :rows => '20', :class=>'ckeditor' %>
    </div>
    <div class="field" id="opened_at">
      <%= f.label :opened_at %><br />
      <span class="note"><%= note_about_attribute(:article, :opened_at )%></span><br />
      <%= f.select :opened_year, @years.collect {|y| [y,y]}, { :include_blank => true } %>
      <%= f.select :opened_month, @months.collect {|m| [m,m]}, { :include_blank => true } %>
      <%= f.select :opened_day, @days.collect {|d| [d,d]} , { :include_blank => true } %>
      <%= f.select :opened_hour, @hours.collect {|h| [h,h]} %>
      <%= f.select :opened_min, @minutes.collect {|m| [m,m]} %>
    </div>
    <div class="field" id="closed_at">
      <%= f.label :closed_at %><br />
      <span class="note"><%= note_about_attribute(:article, :closed_at )%></span><br />
      <%= f.select :closed_year, @years.collect {|y| [y,y]} , { :include_blank => true } %>
      <%= f.select :closed_month, @months.collect {|m| [m,m]} , { :include_blank => true } %>
      <%= f.select :closed_day, @days.collect {|d| [d,d]} , { :include_blank => true } %>
      <%= f.select :closed_hour, @hours.collect {|h| [h,h]} %>
      <%= f.select :closed_min, @minutes.collect {|m| [m,m]} %>
    </div>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
//CKEDITOR.currentInstance;
</script>