<h1>
  <%= @folder.title %> 
  <%= human_action_name(:articles, :edit) %>
</h1>

<p id="notice"><%= flash[:notice] %></p>
<%= render 'form' %>

<%= link_to human_action_name(nil, :back), 
articles_path({:action => :list}.merge(url_options_from_params)) %>
