<script type="text/javascript">
//<![CDATA[

  
  /*
  jQuery.event.add(window, "load", function(){ 

    });
*/
  
//]]>
</script>
<h1>
  <%= @folder.title %> 
  <%= human_action_name(:articles, :list) %>
</h1>

<% unless flash[:notice].blank? %>
<p id="notice"><%= flash[:notice] %></p>
<% end %>
<% unless flash[:warning].blank? %>
<p id="notice"><%= flash[:warning] %></p>
<% end %>
<%= render 'article_table' %>
<br />

<%= paginate @articles  %>

<div class="actions">
<%= link_to human_action_name(:articles, :new), 
new_article_path(url_options_from_params)
%>
</div>