<h1><%= human_action_name(:widget_sets, :index) %></h1>

<% unless flash[:notice].blank? %>
<p id="notice"><%= flash[:notice] %></p>
<% end %>
<% unless flash[:warning].blank? %>
<p id="notice"><%= flash[:warning] %></p>
<% end %>

<table id="widget_sets">
  <tr>
    <th class="title"><%= WidgetSet.human_attribute_name(:title) %></th>
    <th class="owner"><%= WidgetSet.human_attribute_name(:owner_id) %></th>
    <th colspan="3" class="actions"></th>
  </tr>

<% @widget_sets.each do |widget_set| %>
  <tr>
    <td class="title"><%= widget_set.title %></td>
    <td class="owner"><%= if widget_set.owner;widget_set.owner.login;end %></td>
    <td class="actions edit_widget_set_elements">
    <%= link_to human_action_name(:widget_set_elements, :index), 
    widget_set_elements_path(url_options_from_params.merge({:widget_set => widget_set.id})) %>
    </td>
    <td class="actions edit">
    <%= link_to human_action_name(:widget_sets, :edit), 
    edit_widget_set_path(widget_set,  url_options_from_params) %>
    </td>
    <td class="actions destroy">
    <%= link_to human_action_name(nil, :destroy), 
    widget_set_path(widget_set,url_options_from_params.merge({:action => :destroy})), 
    :confirm =>  message(:widget_sets, :destroy_confirmation), 
    :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />


<div class="actions">
<%= link_to human_action_name(:widget_sets  , :new), new_widget_set_path(:site => @site.name) %>
</div>