<script type="text/javascript">
</script>

<%= form_for(@menu_item) do |f| %>
  <% if @menu_item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= activerecord_error_message(:record_invalid, 
        :errors => @menu_item.errors.count) %>
      </h2>
      <ul>
      <% @menu_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset id="menu_item_fields">
    <%= f.hidden_field :parent_id %>
    <legend><%= MenuItem.model_name.human %></legend>
    <div class="field" id="folder">
      <%= f.label :folder %><br />
      <span class="note"><%= note_about_attribute(:menu_item, :folder )%></span><br />
      <%= f.select :folder_id, 
        @folders.collect {|folder| [folder.title, folder.id]}, {:include_blank => true} 
      %>
    </div>
    <div class="field" id="title">
      <%= f.label :title %><br />
      <span class="note"><%= note_about_attribute(:menu_item, :title )%></span><br />
      <%= f.text_field :title %>
    </div>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
