<h1><%= human_action_name(:users, :index)%></h1>
<% unless flash[:notice].blank? %>
  <% unless flash[:notice].blank? %>
  <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <% unless flash[:warning].blank? %>
  <p id="notice"><%= flash[:warning] %></p>
  <% end %>
<% end %>
<table id="users">
  <tr>
    <th class="login"><%= User.human_attribute_name(:login) %></th>
    <% if @site.nil? %>
    <th class="site"><%= User.human_attribute_name(:site_id) %></th>
    <th class="is_admin"><%= User.human_attribute_name(:is_admin) %></th>
    <% end %>
    <th class="is_site_admin"><%= User.human_attribute_name(:is_site_admin) %></th>
    <th class="is_editor"><%= User.human_attribute_name(:is_editor) %></th>
    <th class="actions" colspan="2"></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td class="login">
    <%= user.login %>
    </td>
    <% if @site.nil? %>
    <td class="site">
      <% if user.site %><%= user.site.name %><% end %>
    </td>
    <td class="is_admin">
      <% if user.is_admin %>Yes<% end %>
    </td>
    <% end %>
    <td class="is_site_admin">
      <% if user.is_site_admin %>Yes<% end %>
    </td>
    <td class="is_editor">
      <% if user.is_editor %>Yes<% end %>
    </td>
    <td class="actions edit">
    <%= link_to human_action_name(nil, :edit), 
    edit_user_path(user, url_options_from_params) %>
    </td>
    <td class="actions destroy">
    <%= link_to human_action_name(nil, :destroy), 
    user_path(user, url_options_from_params), 
    :confirm =>  message(:users, :destroy_confirmation), 
    :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @users %>

<div class="actions">
<%= link_to human_action_name(:users, :new), new_user_path %>
</div>