<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= activerecord_error_message(:record_invalid, 
        :errors => @user_session.errors.count) %>
      </h2>
      <ul>
      <% @hoge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset id="site_fields">
    <legend><%= Site.model_name.human %></legend>
    <div class="field">
      <%= f.label :name %><br />
      <span class="note"><%= note_about_attribute(:site, :name )%></span><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :title %><br />
      <span class="note"><%= note_about_attribute(:site, :title )%></span><br />
      <%= f.text_field :title %>
    </div>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
