<h1>
  <%= @folder.title %> 
  <%= human_action_name(:images, :list) %>
</h1>


<% unless flash[:notice].blank? %>
<p id="notice"><%= flash[:notice] %></p>
<% end %>
<% unless flash[:warning].blank? %>
<p id="notice"><%= flash[:warning] %></p>
<% end %>
<%= render 'image_table' %>
<br />

<%= paginate @images  %>

<div class="actions">
<%= link_to human_action_name(:images, :new), 
new_image_path(url_options_from_params)
%>
</div>