<script type='text/javascript'>
  $(function() {
    $('#user_nav>ul').droppy();
  });
</script>
<nav id="user_nav">
  <ul  class="droppy">
    <% if current_folder && current_user.can_edit_folder?(current_folder) %>
    <li id="menu_item_articles_index">
    <%= link_to(human_action_name(:articles, :index), 
    articles_path(:folder => current_folder.name,:site => current_site.name))%>
    </li>
    <li id="menu_item_articles_new">
    <%= link_to(human_action_name(:articles, :new), 
    new_article_path(:folder => current_folder.name,:site => current_site.name))%>
    </li>
    <li  id="menu_item_articles_list">
    <%= link_to(human_action_name(:articles, :list), 
    articles_path(:folder => current_folder.name, :action => :list, 
    :site => current_site.name))%></a>
    </li>
    <li id="menu_item_images">
      <%= link_to(Image.model_name.human, "#") %>
      <ul>
        <li id="menu_item_images_list">
          <%= link_to(human_action_name(:images, :list), 
          images_path(:folder => current_folder.name,:site => current_site.name,
                      :action => :list))%>
        </li>
        <li id="menu_item_images_new">
          <%= link_to(human_action_name(:images, :new), 
          new_image_path(:folder => current_folder.name,:site => current_site.name))%></a>
        </li>
        </li>
        <li>
        </li>
        <li>
        </li>
      </ul>
    </li>
    <li id="menu_item_folders">
      <%= link_to(Folder.model_name.human, "#") %>
      <ul>
        <li>
          <%= link_to(human_action_name(:folders, :edit), edit_folder_path(current_folder)) %>
        </li>
        <li>
        <%= link_to(PageDesign.model_name.human, "#") %>
        <ul>
          <li>
          <%= link_to(human_action_name(:page_design, :header), 
          url_for(:controller => :page_design, :site => current_site.name, :folder => current_folder.name, 
          :action => :header)) %>
          </li>
          <li>
          <%= link_to(human_action_name(:page_design, :background), 
          url_for(:controller => :page_design, :site => current_site.name, :folder => current_folder.name, 
          :action => :background)) %>
          </li>
          <li>
          <%= link_to(human_action_name(:page_design, :html_css), 
          url_for(:controller => :page_design, :site => current_site.name, :folder => current_folder.name, 
          :action => :html_css)) %>
          </li>
        </ul>
        <li>
        <%= link_to(human_action_name(:folders, :theme_list), 
        {:action => :theme_list, :controller => :folders, :site => current_site.name, :name => current_folder.name},
        {:method => :get}) %>
        </li>
      </ul>
    </li>
    <% end %>

    <% if current_site && current_user   %>
    <li id="menu_item_folders">
      <%= link_to(human_action_name(:folders, :list), "#") %>
      <ul>
      <% editable_folders.each do |folder| %>
        <li><%= link_to(folder.name, articles_path(:folder => folder.name, 
        :site => current_site.name)) %></li>
      <% end %>
      </ul>
    </li>
    <li id="menu_item_sites">
      <%= link_to(Site.model_name.human, "#") %>
      <ul>
        <li>
        <% if current_site && current_user.can_manage_site?(current_site) %>
        <li><%= link_to(human_action_name(:folders, :list), 
        folders_path(:action => :list, :site => current_site.name))%></li>
        <li>
        <%= link_to(PageDesign.model_name.human, "#") %>
        <ul>
          <li>
          <%= link_to(human_action_name(:page_design, :header), 
          page_design_path(current_site.page_design, :action => :header)) %>
          </li>
          <li>
          <%= link_to(human_action_name(:page_design, :background), 
          page_design_path(current_site.page_design, :action => :background)) %>
          </li>
          <li>
          <%= link_to(human_action_name(:page_design, :html_css), 
          page_design_path(current_site.page_design, :action => :html_css)) %>
          </li>
        </ul>
        </li>
        <li>
        <%= link_to(human_action_name(:sites, :edit), edit_site_path(current_site)) %>
        </li>
        <li><%= link_to(human_action_name(:menu_items, :index), 
        menu_items_path(:action => :index, :site => current_site.name, :menu_type => 'Header'))%></li>
        <li>
        <li>
        <%= link_to(human_action_name(:users, :index), users_path(:site => current_site.name)) %>
        </li>
        <li>
        <%= link_to(human_action_name(:sites, :theme_list), 
        {:action => :theme_list, :controller => :sites, :id => current_site.id},
        {:method => :get}) %>
        </li>
        <li>
        <%= link_to(human_action_name(:widget_sets, :index), 
        widget_sets_path(:site => current_site.name, :action => :index)) %>
        </li>
        <% end %>
      </ul>
    </li>
    <% end %>
    <% if current_user.is_admin %>
    <li id="menu_item_settings">
      <%= link_to('application', "#") %>
      <ul>
        <li><%= link_to(human_action_name(:sites, :index), sites_path) %></li>
        <li><%= link_to(human_action_name(:users, :index), users_path) %></li>
        <li><%= link_to(human_action_name(:app_settings, :index), app_settings_path) %></li>
      </ul>
    </li>
    <% end %>
  </ul>
</nav>
