<!DOCTYPE html>
<html>
<head>
  <title>Nyanlog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page_wrapper">
<div id="header_wrapper">
<header>
    <%= render "/layouts/header" %>
</header>   <!-- header -->
</div>
<div id="container_wrapper">
<div id="container">
  <%= render "/layouts/user_actions" %>
  <% if current_user %>
   <%= render "/layouts/user_nav" %>
  <% end %>    
  <div id="sidebar">
      
  <%= render "/layouts/sidebar" %>

  </div>   <!-- side -->

  <div id="main">

  <%= yield %>

  </div>   <!-- main -->

</div>   <!-- container -->
</div>   <!-- container_wrapper -->
<div id="footer_wrapper">
<footer>
  <%= render "/layouts/footer" %>
</footer>
</div>
</div>
</body>
</html>
