<!DOCTYPE html>
<html>
<head>
  <title>Nyanlog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    params[:controller] %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= theme_stylesheet_link_tag :media => 'all' %>
  <%= user_stylesheet %>
  <%= background_style %>
</head>
<body>
<div id="page_wrapper">
<header>
    <%= render "/layouts/header" %>
</header>   <!-- header -->
<% if current_user %>
<div id="user_nav_wrapper">
   <%= render "/layouts/user_nav" %>
</div>
<% end %>    

<div id="container_wrapper">
<div id="container">
  
  <div id="sidebar">
      
  <%= render "/layouts/sidebar" %>

  </div>   <!-- side -->

  <div id="main">

  <%= yield %>

  </div>   <!-- main -->

</div>   <!-- container -->
</div>   <!-- container_wrapper -->
<div id="footer_wrapper">
<footer>
  <%= render "/layouts/footer" %>
</footer>
</div>
</div>
</body>
</html>
